.nav{
  display: grid;
  grid-template-columns: 2fr 5fr repeat(7, 1fr);
  width: 100%;
  z-index: 100;
  position: absolute;
  padding: 10px 10%;
  background: #2b2d42;
}

.logo-text{
  color: white;
  font-weight: 600;
  font-size: 24px;
  align-self: center;
}

.item{
  color: white;
  font-weight: 400;
  font-size: 20px;
  align-self: center;
}

img{
  cursor: pointer;
}