<div class="bg">
    <div class="form">
        <input type="email" pInputText placeholder="Email" [(ngModel)]="model.email" name="email" class="reg">
        <input type="text" pInputText placeholder="Username" [(ngModel)]="model.username" name="username" class="reg">
        <input type="text" pInputText placeholder="First name" [(ngModel)]="model.firstName" name="firstName" class="reg">
        <input type="text" pInputText placeholder="Last name" [(ngModel)]="model.lastName" name="lastName" class="reg">
        <input type="password" pPassword placeholder="Password" [(ngModel)]="model.password" name="password" class="reg"/>
        <button pButton pRipple type="button" (click)="onSubmit()" label="Register" class="p-button-rounded"></button>
    </div>
</div>

