.bg{
    min-height: 100vh;
    background: url('./../../assets/register.jpg') center;
    padding-top: 25vh;
    padding-bottom: 25vh;
    width: 100vw;
}

.form{
    height: 50vh;
    padding-top: 50px;
    background: linear-gradient(#d9a7c7cb, #fffcdcd2);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    -webkit-box-shadow: -4px -2px 11px -4px rgba(34, 60, 80, 0.93) inset;
    -moz-box-shadow: -4px -2px 11px -4px rgba(34, 60, 80, 0.93) inset;
    box-shadow: -4px -2px 11px -4px rgba(34, 60, 80, 0.93) inset;
    text-align: center;
}


.reg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 46%;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
}

button{
    margin-top: 15px;
}
