.bg{
    min-height: 100vh;
    background: url('../../assets/register.jpg') center;
    padding-top: 25vh;
    padding-bottom: 25vh;
}

.form{
    height: 50vh;
    background: -webkit-linear-gradient(left, #7579ff, #b224ef) !important; 
    opacity: 85%;
    width: 30%;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    -webkit-box-shadow: -4px -2px 11px -4px rgba(34, 60, 80, 0.93) inset;
    -moz-box-shadow: -4px -2px 11px -4px rgba(34, 60, 80, 0.93) inset;
    box-shadow: -4px -2px 11px -4px rgba(34, 60, 80, 0.93) inset;
    text-align: center;
}

.form:hover{
    background: -webkit-linear-gradient(left, #b224ef,#7579ff) !important; 

}

.reg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
}