# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.FoodDelivery.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PC\source\repos\FoodDelivery\.idea\.idea.FoodDelivery\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
